body{
  

       text-align: center;
       background-color: #1a1a1a;
       background-image: url('imgs/download.png');
     
         background-size: 100%;
         color:white;
         background-repeat: no-repeat;
         margin-top:-10px;
         background-position: top center;
        height:80px;
        width:;

}
#curriculum{
 
  border:solid 2px;
  background-color: #363636;
  color:#363636;
  margin-top: 10px;
  width: 100%;
  font-size:35px!important;
  position:fixed;
  top: -10px;
  right:-6px;
  
}
   a:link {
 color: yellow;
}
   a:hover {
 color: yellow;

} 
   a:visited{
     color:white;
   }
    div.img{
     text-align: center;
    margin:10px;
        
    }
 
    h1{
        font-size: 40px;
        margin: 20px;
    margin-left: auto;
    margin-right: auto;
        border-width: 2px;
       width: 200px;
       height: 100px;
  border-style: dashed;
  border-color: #f7cf14;

  }
  h4{
        font-size: 30px;
        margin: 20px;
    margin-left: auto;
    margin-right: auto;
        border-width: 2px;
       width: 150px;
       height: 80px;
  border-style: dashed;
  border-color: #f7cf14;
  margin-top: -10px;
#42445A
  }     
h2{
  font-size: 15px!important;
  color:black;
        font-size: 40px;
        margin: 20px;
    margin-left: auto;
    margin-right: auto;
        border-width: 2px;
       width: 300px;
       height: 63px;
  background-color: #f7cf14;
  display:inline-block;

}
    div.yellow{
    
  margin: -15px;
    margin-left: auto;
    margin-right: auto;
    
    width: 6em
        border: solid 2px white;
        background-color: #f7cf14;
       
        font-size: 50px;
        color:black;
        width: 120px;
        height:60px;
       
  

    }
    div.nome{
        color:black;
        font-size: 40px;
        margin: 20px;
    margin-left: auto;
    margin-right: auto;
        border-width: 2px;
       width: 300px;
       height: 100px;
  background-color: #f7cf14;
  display:inline-block;

    }
    footer{
      text-align: center;
      background-color: #f7cf14;
      height:250%;
      margin-left: -3px;
      color:black;
      width:102%;
      margin-bottom: -20px;
      
    }
#fonte{
  color:white;
  font-size: 15px;px
  display:inline-block;
}
